@use "../variables";

#light .button_outter {
  border-color: variables.$border-color-light;
}

#dark .button_outter {
  border-color: variables.$border-color-dark;
}

.button_list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.button_outter {
  border-width: 1px;
  border-radius: 50%;
  border-style: solid;
  span {
    display: none;
  }
}

.button_custom {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 7px;
  text-decoration: none;
}

.button_image {
  padding-right: 2px;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

@media only screen and (min-width: 750px) {
  .button_list {
    gap: 16px;
    width: 50%;
    justify-content: center;
  }

  .button_image {
    border-radius: 2px;
    padding-right: 5px;
    width: 22px;
    height: 22px;
  }

  .button_outter {
    border-radius: 6px;

    span {
      display: block;
    }

    :hover {
      cursor: pointer;
      border-radius: 6px;
    }
  }

  #light .button_outter {
    border-color: variables.$border-color-light;

    :hover {
      background-color: variables.$highlight-color-light;
    }
  }

  #dark .button_outter {
    border-color: variables.$border-color-dark;

    :hover {
      background-color: variables.$highlight-color-dark;
    }
  }
}
