$desktop-title-size: 1.5rem;
$desktop-font-size: 1.15rem;

$mobile-title-size: 1rem;
$mobile-font-size: 1.20rem;

$desktop-title-weight: 700;

$main-color-dark: lightgray;
$bar-color-dark: #ff7f11;
$highlight-color-dark: #2e3a5a;
$border-color-dark: rgba(217, 217, 217);
$background-color-dark: #181b28;
$section-background-color-dark: rgba(217, 217, 217, 0.1);
$text-highlight-color-dark: #ff7f11;

$main-color-light: #1f2856;
$bar-color-light: #101c5a;
$highlight-color-light: lightgray;
$border-color-light: rgba(217, 217, 217);
$background-color-light: rgb(252, 250, 250);
$section-background-color-light: rgba(217, 217, 217, 0.5);
$text-highlight-color-light: #1f2856;
$scrollbar-color-light:#0013729a;

$text-highlight-weight: 300;
